.dashboard-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.game {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    border-radius: 10px;
    border: 1px solid royalblue;
    padding: 1rem 1rem;
}